%link{:rel => 'stylesheet',
      :href => 'http://yui.yahooapis.com/combo?3.0.0/build/cssreset/reset-min.css&3.0.0/build/cssfonts/fonts-min.css',
      :type => 'text/css'}
%style{:type => 'text/css'}= File.open('public/stylesheets/app/listenin-now.css') {|f|f.read}
/[if lte IE 7]
  %style{:type => 'text/css'}= File.open('public/stylesheets/app/ie.css') {|f|f.read}
  <div id="ie67">
/[if lte IE 6]
  <div id="ie6">
#navigationArea
#infoArea
#tracksArea
#accountArea
#whatsnewArea
/[if lte IE 6]
  </div>
/[if lte IE 7]
  </div>
= haml :'app/templates', :layout => false
-# send environment info to js
%script{:type => 'text/javascript'}== var ListeninNowConfig = {}; |
ListeninNowConfig.base_uri = "#{options.base_uri}"; |
%script{:type => 'text/javascript', :charset => 'utf-8', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
%script{:type => 'text/javascript'}= File.open('public/javascripts/app/jquery.classUtil.js') {|f|f.read}
%script{:type => 'text/javascript'}= File.open('public/javascripts/app/listenin-now_class.js') {|f|f.read}
%script{:type => 'text/javascript'}= File.open('public/javascripts/app/listenin-now.js') {|f|f.read}
/ MIXI AD PROGRAM
%script{:type => 'text/javascript'}
  (function(){
  var url = "http://mixi.jp/ad_application_program_invoker.pl?appli_id=7793&ad_id=f4e2f7d7959bc36341a75ee2a251ecd0a2b4781f";
  document.writeln(['<scri','pt src="',url,'&ts=',(new Date).getTime(),'">','</scri','pt>'].join(''));
  })();
/ END

