%link{:rel => 'stylesheet',
      :href => 'http://yui.yahooapis.com/combo?3.0.0/build/cssreset/reset-min.css&3.0.0/build/cssfonts/fonts-min.css',
      :type => 'text/css'}
/ http://listenin-now.konk303.com/stylesheets/app/listenin-now.css
%style{:type => 'text/css'}= sass :'sass/app/listenin-now', :load_paths => [options.sass_path]
/[if lte IE 7]
  / http://listenin-now.konk303.com/stylesheets/app/ie.css
  %style{:type => 'text/css'}= sass :'sass/app/ie', :load_paths => [options.sass_path]
  <div id="ie67">
/[if lte IE 6]
  <div id="ie6">
#navigationArea
#infoArea
#tracksArea
#rankingsArea
#accountArea
#whatsnewArea
/[if lte IE 6]
  </div>
/[if lte IE 7]
  </div>
= haml :'app/templates', :layout => false
-# send environment info to js
%script{:type => 'text/javascript'}== var ListeninNowConfig = {}; |
ListeninNowConfig.base_uri = "#{options.base_uri}"; |
%script{:type => 'text/javascript', :charset => 'utf-8', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
/ http://listenin-now.konk303.com/javascripts/app/jquery.classUtil.js
%script{:type => 'text/javascript'}= File.open('public/javascripts/app/jquery.classUtil.js') {|f|f.read}
/ http://listenin-now.konk303.com/javascripts/app/listenin-now_class.js
%script{:type => 'text/javascript'}= File.open('public/javascripts/app/listenin-now_class.js') {|f|f.read}
/ http://listenin-now.konk303.com/javascripts/app/listenin-now.js
%script{:type => 'text/javascript'}= File.open('public/javascripts/app/listenin-now.js') {|f|f.read}
